 body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,130,159,1) 0%, rgba(103,56,96,1) 90% );
}

table{
    background-image: linear-gradient( 94.3deg,  rgba(26,33,64,1) 10.9%, rgba(81,84,115,1) 87.1% );
min-width: 30%;
height: 40vh;
border: 1px solid white;
text-align: center;
padding: 2px;
}
table .btn{
padding: 5px;
cursor: pointer;
border: 0.5px solid white;
font-size: 18px;
color: white;
}

table .btn:hover{
background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
transition: all 200ms;
}
table .sonuc{
text-align: right;
background-color: white;
height: 7vh;
font-size: 20px;
}

#clear,#beraber{
    cursor: pointer;
    border: 0.5px solid white;
color: white;
 
}
#beraber:hover{
background-image: linear-gradient( 110.3deg,  rgba(73,93,109,1) 4.3%, rgba(49,55,82,1) 96.7% );
transition: all 200ms;

}

@media only screen and (max-width: 1025px){
    table{
        width: 70%;
        }
}
@media only screen and (max-width: 990px) {

    table{
        width: 50%;
        }
        @media only screen and (max-width: 768px){
            table{
            
                width: 80%;
    
                }
                @media only screen and (max-width: 412px){
                    table{
              
                        width: 100%;
                  
                        }
                }
        } 
}